<h3>Login</h3>
<form action="/sessions" method="post">
  <label>Email: <input type="text" name="user[email]"></label>
  <label>Password: <input type="password" name="user[password]"></label>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Login">
</form>
